services:
  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "Kienlt Company"
      LDAP_DOMAIN: "kienlt.local"
      LDAP_BASE_DN: "dc=kienlt,dc=local"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "admin123"
      LDAP_RFC2307BIS_SCHEMA: "false"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "false"
      LDAP_TLS_VERIFY_CLIENT: "never"
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ./custom-ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom

    networks:
      - ldap-network

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8080:80"
    depends_on:
      - openldap
    networks:
      - ldap-network

  ldap-account-manager:
    image: ldapaccountmanager/lam:stable
    container_name: ldap-account-manager
    environment:
      LDAP_DOMAIN: "kienlt.local"
      LDAP_BASE_DN: "dc=kienlt,dc=local"
      LDAP_SERVER: "ldap://openldap:389"
      LDAP_USER: "cn=admin,dc=kienlt,dc=local"
      LAM_PASSWORD: "admin"
      LAM_LANG: "en_US"
    ports:
      - "8081:80"
    depends_on:
      - openldap
    networks:
      - ldap-network

networks:
  ldap-network:
    driver: bridge

volumes:
  ldap-data:
  ldap-config: