services:
  openldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    environment:
      LDAP_ORGANISATION: "Kienlt Company"
      LDAP_DOMAIN: "kienlt.local"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "admin123"
      LDAP_RFC2307BIS_SCHEMA: "false"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "true"
      LDAP_TLS_VERIFY_CLIENT: "never"
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ldap-data:/var/lib/ldap
      - ldap-config:/etc/ldap/slapd.d
      - ./users.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/users.ldif
    networks:
      - ldap-network

  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin_openldap
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8080:80"
    depends_on:
      - openldap
    networks:
      - ldap-network

networks:
  ldap-network:
    driver: bridge

volumes:
  ldap-data:
  ldap-config: