services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    configs:
      - source: prometheus_config
        target: /etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-lifecycle"
      - "--web.enable-remote-write-receiver"
      - "--log.level=info"
      - "--storage.tsdb.retention.time=60d"
    network_mode: host
    user: root

configs:
  prometheus_config:
    file: ./prometheus.yml